.currency-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px;
  width: 450px;
  height: 200px;
  border: 1px solid black;
  border-radius: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.80);

}

.amount{
  width: 80px;
  height: 25px;
  margin-right: 10px;

}

.result{
  width: 80px;
  height: 25px;
}

.from-currency-option{
  width: 70px;
  height: 30px;
  margin-right: 10px;
}
.to-currency-option{
  width: 70px;
  height: 30px;
  margin-right: 10px;
}

.baslik{
 margin-top: -20px;
 font-family: Arial, Helvetica, sans-serif;
 background-color: black;
 color: white;
 width: 100%;
 text-align: center;
 border: 1px solid black;
 border-radius: 10px 10px 0px 0px ;
}

.exchange-btn{
  width: 80px;
  height: 30px;
  background-color: rgb(22, 121, 228);
  
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  cursor: pointer;
 
}
.exchange-btn:hover{
  background-color: rgb(3, 31, 108);
  
}